<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_simplepix_logo"
        android:roundIcon="@drawable/ic_simplepix_logo"
        android:label="SimplePix"
        android:theme="@style/Theme.SimplePix">

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.SimplePix.Splash"
            android:screenOrientation="unspecified"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
